<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header class="container">
  
  </header>
  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <form action="/addclass" method="post">
        <input type="text" name="classname" placeholder="name of class">
        <input type="submit" class="btn btn-default" name="addclass" value="Add New Class">
      </form>
    </div>
  </div>
    

  </div>

</div>
</body>
</html>