<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="f-wrapper">
  <header>
      <div class="f-header-container dash-header">
        <h1 class="f-logo">Falah</h1>
        <span>Student Information System</span>
        <div class="f-admin-profile pull-right">
          <p>Welcome: <%= user.local.name %> </p>
          <form action="/logout">
              <input type="submit" class="btn btn-warning btn-lg" id="logout" name="searchclassBtn" value="Logout">
          </form>
        </div>
      </div>
    </header>
     <br class="clear" />
  <div class="container">
     <button class="btn btn-warning btn-lg pull-left f-dashboard"><a href="/dashboard"><span><i class="fa fa-chevron-left"></i></span> Dashboard</a></button>
     <br class="clear" /> 
    <div class="col-sm-6 col-sm-offset-2 f-body-container">
        <form action="/addclass" method="post">
          <input type="text" name="classname" placeholder="name of class" required>
          <input type="submit" class="btn btn-warning btn-lg" name="addclass" value="Add New Class">
        </form>
    </div><!-- end offset 2 div -->
  </div><!-- end container div -->
  <footer class="f-footer-add-class">
    <ul class="f-footer-menu">
      <li><a href="/" class="f-footer-homelink">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </footer>     
</div><!-- end wrapper div -->
</div>
</body>
</html>