<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header class="container">
    <h1>Add Student</h1>
  </header>
 
  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <form action="/addstudent" method="post">
    
      </form>
    </div>
  </div>
    

  </div>

</div>
</body>
</html>