<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Search Reults</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header class="container">
    <h1>Search Result</h1>
    <br class="clear" />
      <div class="pull-right">
          <input type="submit" class="btn btn-default" id="editclass" value="Edit Class">
      </div>
      <br class="clear" />
      <div class="pull-right">
        <form action="/deleteclass">
          <input type="submit" class="btn btn-default" id="editclass" name="editclassBtn" value="Remove Class">
        </form>
      </div>
  </header>
  <div class="search-container">
    <% if (student.length > 0) { %>
        <h3>Class: <%= student[0].Class %></h3>
        <% for(var i = 0; i <student.length; i++){ %>
        <p class=""><a href="/student/<%= student[i]._id %>"><%= student[i].firstname %> <%= student[i].lastname %></a></p>
      <% } %>    
    <% } %>
  </div>
  <% if (student.length === 0) {%>
      <h3 class="alert alert-warning" role="alert">No class found with that name</h3>
      <%}%>
  </div>
</div>
<h4><a href="/dashboard">Dashboard</h4>
</body>
</html>