<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header class="container">
    <div class="f-admin-profile pull-right">
      <p>Welcome: <%= user.local.name %> </p> 
    </div>
    <br class="clear" />
    <div class="f-search pull-right">
      <input type="text" id="search-students" />
    </div>
  </header>

  <div class="container">
    <h1>Dashboard</h1>

    <h4>Your Classes</h4>
    <div class="f-class-container">
    <p>Class: </p>
    <p>No. of Students: </p>
    </div>

  </div>

</div>
</body>
</html>