<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header class="container">
  <h1 class="pull-left">Dashboard</h1>
    <div class="f-admin-profile pull-right">
      <p>Welcome: <%= user.local.name %> </p>
    </div>
    <br class="clear" />
    <div class="f-search pull-right">
      <input type="text" id="search-students" />
    </div>
    <br class="clear" />
    <div class="pull-right">
        <form action="/logout">
          <input type="submit" class="btn btn-default" name="searchclassBtn" value="Logout">
        </form>
      </div>

  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Your Classes</h4>
        <div class="f-class-container">
        <p>Class: </p>
        <p>No. of Students: </p>
        </div>
      </div>
     
    </div>
    <div class="search-container">
    <div class="row inner-row">
       <div class="col-md-4">
        <form action="/addclass">
          <input type="submit" class="btn btn-default" value="Add New Class">
        </form>
        <form action="/addstudent" method="get">
          <input type="submit" class="btn btn-default" value="Add New Student" id="get-classes">
        </form>
      </div>
    </div>
    <div class="row inner-row">
      <div class="col-md-4 student-search">
        <h4>Search by student first name</h4>
        <form action="/searchfirstname" method="post">
          <input type="text" name="searchfirstname">
          <input type="submit" class="btn btn-default" name="searchstudentBtn" value="Search">
        </form>
      </div>
    </div>
    <div class="row inner-row">
      <div class="col-md-4 class-search">
        <h4>Search by class</h4>
        <form action="/searchclass" method="post">
          <input type="text" name="searchclass">
          <input type="submit" class="btn btn-default" name="searchclassBtn" value="Search">
        </form>
      </div>
    </div>
  </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>