<!-- views/search-result.ejs -->
<!doctype html>
<html>
<head>
    <title>Search Reults</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <div class="f-header-container dash-header">
      <h1 class="f-logo">Falah</h1>
      <span>Student Information System</span>
      <div class="f-admin-profile pull-right">
        <p>Welcome: <%= user.local.name %> </p>
        <form action="/logout">
          <input type="submit" class="btn btn-warning btn-lg" id="logout" name="logoutBtn" value="Logout">
        </form>
      </div>
    </div>
  </header>
  <div class="f-wrapper">
    <button class="btn btn-warning btn-lg pull-left f-dashboard"><a href="/dashboard"><span><i class="fa fa-chevron-left"></i></span> Dashboard</a></button>
     <br class="clear" />
    <h1>Search Result</h1>
    <div class="search-container">
    <% if (student.length > 0) { %>

        <% for(var i = 0; i <student.length; i++){ %>

        <p class=""><a href="/student/<%= student[i]._id %>"><%= student[i].firstname %> <%= student[i].lastname %></a></p>
      <% } %>    
    <% } %>    
  </div>
  <div>
    <% if (student.length === 0) {%>
      <h3 class="alert alert-warning" role="alert">No student Found with that first name</h3>
      <%}%>
  </div>
  <footer>
    <ul class="f-footer-menu">
      <li><a href="/" class="f-footer-homelink">Home</a></li>
        <li><a href="#">About</a></li>
    </ul>
  </footer>
  </div>
</div>
</body>
</html>