body {
  
}

.f-wrapper {
  width: 960px; 
  margin: 0 auto 0 auto;
}

.clear {
  clear: both;
}

.f-class-container {
  border: 2px solid #000;
  width: 300px;
  padding: 5px;
}

.f-admin-profile {
  margin-top: 20px;
}

input[type="text"], input[type="tel"], input[type="password"] {
	display: block;
	margin-bottom: 10px;

}

input[type="text"] {
	margin-bottom: 10px; 
}

.wrapper {
	width: 200px;
	margin: 0 auto;
}

label {
	width: 200px;
}

.add-student {
	margin-top: 10px; 
}

h1, h3 {
	text-align: center;
}

.search-container {
	width: 50%; 
	margin: 50px auto 0 auto;
}

.inner-row {
	width: 50%; 
	margin: 0 auto;
}

.student-search {
	 margin-right: 45px; 
}

.search-container h4 {
	width: 250px;
}

#classes-list li {
	list-style: none;
	padding-bottom: 10px;
	color: #428bca;
	cursor: pointer; 
}

/*Table styling*/

table {
  max-width: 960px;
  margin: 10px auto;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: left;
  padding: 20px;
  font-weight: 300;
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}

/*Table styling*/

.f-header-container {
  width: 725px;
  margin: 0 auto 40px auto;
  overflow: auto;
}

.f-logo {
  width: 180px;
  font-size: 4.5em;
  border-right: 5px solid #000;
  float: left;
}

header span {
  float: left;
  padding-top: 25px;
  padding-left: 15px;
  font-size: 3em;
}

footer {
  border-top: 1px solid #ccc;
  margin-top: 100px;
}

.f-footer-menu li {
  list-style: none;
  display: inline-block;
  margin-top: 15px;
  padding-right: 15px;
  color: rgb(167, 166, 166);
}

.f-footer-menu li a:link, .f-footer-homelink {
  color: rgb(167, 166, 166);
}

.f-footer-menu li a:hover {
  text-decoration: none;
  color: #000;
}



























